.app {
  display: flex;
  flex-flow: column;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-body {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem;
  background-color: #eceff1;
}

.app-content {
  flex: 3;
  display: flex;
  flex-flow: column;
}
